<figure>
  <div class="x-axis">
    <ul class="legend">
      <% task_names_term.each do |name| %>
        <li><%= name %></li>
      <% end %>
    </ul>
  </div>
  <div class="graphic">
    <% tasks_term.each_with_index do |tasks_day, i| %>
      <div class="row">
        <h6 class=".day-<%= i %>"><%= tasks_day[0].month %>/<%= tasks_day[0].day %> (<%= tasks_day[1] %>)</h6>
        <div class="chart" id="chart-<%= i %>">
          <% tasks_day[2].each do |name, time| %>
            <span class="block" id="<%= name %>" title="<%= name %>: <%= time %> minutes">
              <span class="value"><%= time %></span>
            </span>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</figure>
