<% if user_signed_in? %>
  <div class="row">
    <aside class="col-md-4">
      <%= render 'shared/aside_profile', users: nil, user: current_user %>
      <section class="micropost_form">
        <%= render 'shared/micropost_form', micropost: @micropost %>
      </section>
    </aside>
    <div class="col-md-8">
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a href="#tab-feed" class="nav-link active" data-toggle="tab">フィード</a>
        </li>
        <li class="nav-item">
          <a href="#tab-user" class="nav-link" data-toggle="tab">アカウント検索</a>
        </li>
        <li class="nav-item">
          <a href="#tab-micropost" class="nav-link" data-toggle="tab">投稿検索</a>
        </li>
      </ul>
      <div class="tab-content">
        <div id="tab-feed" class="tab-pane active">
          <%= render 'static_pages/feed' %>
        </div>
        <div id="tab-user" class="tab-pane">
          <%= render 'static_pages/search_user' %>
        </div>
        <div id="tab-micropost" class="tab-pane">
          <%= render 'static_pages/search_micropost' %>
        </div>
      </div>
    </div>
  </div>
<% else %>
  <div class="center jumbotron">
    <h1>Pomodoro</h1>
    <p>ポモドーロテクニックで集中！</p>
    <p>タスクは管理しよう！</p>
  </div>
<% end %>
