<% if user_signed_in? %>
  <div class="row">
    <aside class="col-md-4">
      <%= render 'shared/aside_profile', users: nil, user: current_user %>
      <section class="micropost_form">
        <%= render 'shared/micropost_form', micropost: @micropost, need_task: false %>
      </section>
    </aside>
    <div class="col-md-8">
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a href="#tab-feed" class="nav-link active" data-toggle="tab">フィード</a>
        </li>
        <li class="nav-item">
          <a href="#tab-user" class="nav-link" data-toggle="tab">アカウント検索</a>
        </li>
        <li class="nav-item">
          <a href="#tab-micropost" class="nav-link" data-toggle="tab">投稿検索</a>
        </li>
      </ul>
      <div class="tab-content">
        <div id="tab-feed" class="tab-pane active">
          <%= render 'static_pages/feed' %>
        </div>
        <div id="tab-user" class="tab-pane">
          <%= render 'static_pages/search_user' %>
        </div>
        <div id="tab-micropost" class="tab-pane">
          <%= render 'static_pages/search_micropost' %>
        </div>
      </div>
    </div>
  </div>
<% else %>
  <div class="home-wrapper">
    <h1><%= Constants::APP_NAME %></h1><br>
    <p>タイマーで区切ってタスクに集中</p>
    <p>終わったら記録を残そう</p>
    <p>日々の積み重ねを見える化してヤル気を継続！</p>
    <div class="new-user-link">
      <hr style="max-width: 400px;">
      <%= link_to "ユーザー登録", new_user_registration_path %>
      <%= link_to "ログイン", new_user_session_path %>
    </div>
  </div>
<% end %>
