<% provide(:title, "Timer") %>
<!-- Timer -->
<%= render 'static_pages/timer_box' %>
<!-- タスク追加 & 一覧表示 -->
<div class="row">
  <div class="col-md-4 offset-md-4">
    <section class="task_form">
      <%= render 'shared/task_form', task: @task %>
    </section>
    <% if @tasks.any? %>
      <ol class="tasks">
        <% @tasks.each do |task| %>
          <%= render 'shared/task', task: task %>
        <% end %>
      </ol>
    <% end %>
  </div>
</div>
<!--（モーダルウィンドウ）マイクロポストフォーム -->
<div class="modal-open">
  <div class="modal-micropost-form">
    <section class="micropost_form">
      <%= render 'shared/micropost_form', micropost: @micropost, need_task: true, last_task: @last_task %>
    </section>
  </div>
</div>
<div id="modal-content"></div>
<!-- タイマー音源 -->
<%= render 'static_pages/audios' %>
<% if defined? @show_modal %>
  <%= render 'static_pages/modal_js' %>
<% end %>
