<% provide(:title, "登録") %>
<div class="form-wrapper">
  <h2 style="font-weight: bold;">ユーザー登録</h2>
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>
    <div class="field">
      <%= f.label :name, class: "form form-label" %>
      <%= f.text_field :name, autofocus: true, autocomplete: "name", class: "form form-field" %>
    </div>
    <div class="field">
      <%= f.label :email, class: "form form-label" %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form form-field" %>
    </div>
    <div class="field">
      <%= f.label "新しいパスワード\n(6文字以上)", class: "form form-label" %>
      <%= f.password_field :password, autocomplete: "new-password", class: "form form-field" %>
    </div>
    <div class="field">
      <%= f.label :password_confirmation, class: "form form-label" %>
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form form-field" %>
    </div>
    <div class="actions">
      <%= f.submit "登録", class:"btn btn-primary btn-sm btn-signup" %>
    </div>
  <% end %>
  <hr>
  <%= render "devise/shared/links" %>
</div>
