<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <p><%= gravatar_for @user %></p>
      <h5 class="user-name"><%= @user.name %></h5>
      <% if @user == current_user %>
        <% if @user.email == 'guest@example.com' %>
          <p>※ゲストユーザーの変更・削除はできません</p>
        <% else %>
          <%= link_to "プロフィールを編集", edit_user_registration_path, class: "btn btn-outline-secondary btn-sm btn-profile-link" %>
        <% end %>
      <% else %>
        <%= render 'follow_form' %>
      <% end %>
      <% if @user.profile %>
        <p><%= safe_join(@user.profile.split("\n"), tag(:br)) %></p>
      <% end %>
    </section>
    <div>
      <%= render 'shared/stats', user: @user %>
    </div>
  </aside>
  <div class="col-md-8">
    <% if @user.microposts.any? %>
      <h3>Microposts (<%= @user.microposts.count %>)</h3>
      <ol class="microposts">
        <% @microposts.each do |micropost| %>
          <%= render 'shared/micropost', micropost: micropost %>
        <% end %>
      </ol>
      <%= paginate @microposts %>
    <% end %>
  </div>
</div>
