<% provide(:title, "ログイン") %>
<div class="form-wrapper">
  <h2 style="font-weight: bold;">ログイン</h2>
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="field">
      <%= f.label :email, class: "form form-label" %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form form-field" %>
    </div>
    <div class="field">
      <%= f.label :password, class: "form form-label" %>
      <%= f.password_field :password, autocomplete: "current-password", class: "form form-field" %>
    </div>
    <% if devise_mapping.rememberable? %>
      <div class="field remember-me">
        <%= f.check_box :remember_me, class: "check-box" %>
        <%= f.label :remember_me, class: "check-label" %>
      </div>
    <% end %>
    <div class="actions">
      <%= f.submit "ログイン", class:"btn btn-primary btn-sm btn-login" %>
    </div>
    <div class="actions">
      <%= link_to "ゲストログイン", users_guest_sign_in_path, method: :post, class: "btn btn-info btn-sm btn-guest-login" %>
    </div>
  <% end %>
  <hr>
  <%= render "devise/shared/links" %>
</div>
